<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

  <display-name>Nombre de tu aplicación</display-name>

  <!-- Mapeo del servlet de controlador de usuario -->
  <servlet>
    <servlet-name>ControladorUsuario</servlet-name>
    <servlet-class>controlador.ControladorUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorUsuario</servlet-name>
    <url-pattern>/ControladorUsuario</url-pattern>
  </servlet-mapping>

</web-app>
